.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  min-height: 0;
  padding: 0px 250px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    padding: 5px;
  }
}
.cmsDataLoader__aR0KW:global(.__wab_instance) {
  width: 750px;
  display: flex;
  max-width: 100%;
  flex-direction: column;
  object-fit: cover;
  position: relative;
}
.freeBox__jORbN {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 750px;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  padding: 8px;
}
.cmsEntryField__iTbHi:global(.__wab_instance) {
  object-fit: cover;
  max-width: 100%;
  max-height: none;
}
.text__koEol {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.text__yR4Lt {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.cmsDataLoader__x8Bs9:global(.__wab_instance) {
  width: 750px;
  display: flex;
  max-width: 100%;
  flex-direction: column;
  object-fit: cover;
  position: relative;
}
.freeBox___4Y0ZD {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 750px;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  align-self: center;
  padding: 8px;
}
.cmsEntryField__aShIg:global(.__wab_instance) {
  object-fit: cover;
  max-width: 100%;
  font-weight: 800;
  font-size: 36px;
  width: 750px;
  align-self: center;
}
.text__hboas {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.text__j9PkC {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.cmsDataLoader__wbDbx:global(.__wab_instance) {
  width: 750px;
  display: flex;
  max-width: 100%;
  flex-direction: column;
  object-fit: cover;
  position: relative;
}
.freeBox___0VDRr {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 750px;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  align-self: center;
  padding: 8px;
}
.cmsEntryField__yx9Fm:global(.__wab_instance) {
  object-fit: cover;
  max-width: 100%;
  text-align: left;
  align-self: flex-start;
  font-size: 20px;
  width: 750px;
}
.text__pJNk {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.text__nxdRn {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.cmsDataLoader__cpL9F:global(.__wab_instance) {
  width: 750px;
  display: flex;
  max-width: 100%;
  flex-direction: column;
  object-fit: cover;
  position: relative;
}
.freeBox__yfvKb {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 750px;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  align-self: center;
  padding: 8px;
}
.cmsEntryField__wE6WU:global(.__wab_instance) {
  object-fit: contain;
  max-width: 100%;
  align-self: center;
  width: 750px;
  text-align: center;
  height: auto;
  max-height: 400px;
}
.cmsDataLoader__fadgi:global(.__wab_instance) {
  width: 100%;
  display: flex;
  max-width: 100%;
  flex-direction: column;
  object-fit: cover;
  position: relative;
  min-width: 0;
}
.freeBox__oPiTq {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.cmsEntryField__fyWe2:global(.__wab_instance) {
  object-fit: cover;
  max-width: 100%;
  align-self: flex-start;
  font-size: 18px;
  width: 750px;
}
.cmsEntryField__b5Klv:global(.__wab_instance) {
  object-fit: contain;
  max-width: 100%;
  align-self: flex-start;
  font-size: 18px;
  width: 750px;
  height: auto;
  max-height: 400px;
}
.cmsEntryField__hpSlr:global(.__wab_instance) {
  object-fit: contain;
  max-width: 100%;
  align-self: flex-start;
  font-size: 18px;
  width: 750px;
}
.cmsEntryField__aLGR:global(.__wab_instance) {
  object-fit: contain;
  max-width: 100%;
  align-self: flex-start;
  font-size: 18px;
  width: 750px;
  height: auto;
  max-height: 400px;
}
.cmsEntryField__voktJ:global(.__wab_instance) {
  object-fit: contain;
  max-width: 100%;
  align-self: flex-start;
  font-size: 18px;
  width: 750px;
  max-height: none;
}
.cmsEntryField___3DtO:global(.__wab_instance) {
  object-fit: contain;
  max-width: 100%;
  align-self: flex-start;
  font-size: 18px;
  width: 750px;
  height: auto;
  max-height: 400px;
}
.cmsEntryField___6KA5O:global(.__wab_instance) {
  object-fit: contain;
  max-width: 100%;
  align-self: flex-start;
  font-size: 18px;
  width: 750px;
  max-height: none;
}
.cmsEntryField___3Yf54:global(.__wab_instance) {
  object-fit: contain;
  max-width: 100%;
  align-self: flex-start;
  font-size: 18px;
  width: 750px;
  height: auto;
  max-height: 400px;
}
.cmsEntryField__jrumj:global(.__wab_instance) {
  object-fit: contain;
  max-width: 100%;
  align-self: flex-start;
  font-size: 18px;
  width: 750px;
  height: auto;
  max-height: none;
}
.cmsEntryField__mNmc6:global(.__wab_instance) {
  object-fit: contain;
  max-width: 100%;
  align-self: flex-start;
  font-size: 18px;
  width: 750px;
  height: auto;
  max-height: 400px;
}
.cmsEntryField__eXmTf:global(.__wab_instance) {
  object-fit: contain;
  max-width: 100%;
  align-self: flex-start;
  font-size: 18px;
  width: 750px;
  height: auto;
  max-height: none;
}
.cmsEntryField__dpbuO:global(.__wab_instance) {
  object-fit: contain;
  max-width: 100%;
  align-self: flex-start;
  font-size: 18px;
  width: 750px;
  height: auto;
  max-height: 400px;
}
.cmsEntryField__jv4CO:global(.__wab_instance) {
  object-fit: contain;
  max-width: 100%;
  align-self: flex-start;
  font-size: 18px;
  width: 750px;
  height: auto;
  max-height: none;
}
.cmsEntryField__z9Byk:global(.__wab_instance) {
  object-fit: contain;
  max-width: 100%;
  align-self: flex-start;
  font-size: 18px;
  width: 750px;
  height: auto;
  max-height: 400px;
}
.text__jvEky {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.text__hsVo {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
